In [1]:
# apply 메서드는 함수를 데이터프레임의 각 행과 열에 적용하여 실행할 수 있게 해주는 메서드
def my_sq(x):
    return x ** 2
def my_exp(x,n):
    return x ** n

In [2]:
import pandas as pd
df = pd.DataFrame({'a':[10,20,30],'b':[20,30,40]})
df

    a   b
0  10  20
1  20  30
2  30  40

In [4]:
sq = df['a'].apply(my_sq)
sq

0    100
1    400
2    900
Name: a, dtype: int64

In [9]:
ex = df.apply(my_exp, n = 3)
ex

       a      b
0   1000   8000
1   8000  27000
2  27000  64000

In [8]:
def print_me(x):
    print(x)

In [12]:
df.apply(print_me, axis=0)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [14]:
def avg_3(x,y,z):
    return (x+y+z)/3

In [15]:
df.apply(avg_3) # 인자를 3개 주어야 하므로 적용되지 않는다.

TypeError: avg_3() missing 2 required positional arguments: 'y' and 'z'

In [19]:
# 따라서 위 함수를 개선해야 한다.
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x+y+z)/3

In [20]:
df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [22]:
# 위 avg_3_apply 함수는 행의 개수가 3개라는 것을 알고 있다는 전제로 작성하였으므로
def avg_3_apply(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[0]
# 이렇게 바꾸면 행의 개수를 모르더라도 사용할 수 있다.

df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [24]:
# 데이터프레임의 누락값을 처리한 후 apply 메서드 사용하기
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [41]:
# 누락값의 개수를 반환하는 count_missing 함수 만들기
import numpy as np

def count_missing(vec):
    null_vec = pd.isnull(vec) # isnull 메서드는 누락값의 유무에 따라 True, False를 반환한다.
    null_count = np.sum(null_vec, axis = 0) # 이 값을 행별로 모두 더한다.
    return null_count # 더한 값을 반환한다.

In [42]:
#  pd.isnull(titanic)과 titanic.isnull() 둘 다 같음.

In [43]:
titanic.apply(count_missing)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [44]:
# 누락값의 비율을 계산하는 prop_missing 함수 만들기
def prop_missing(vec):
    num = count_missing(vec) # 위에서 만든 count_missing 함수를 이용해 누락값의 개수를 계산
    dem = vec.size # 데이터프레임의 전체 데이터 수
    return num / dem

In [45]:
titanic.apply(prop_missing)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64